/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,500&family=Nanum+Gothic&family=Open+Sans:wght@300;400;500;700;800&family=Roboto:ital,wght@1,100&display=swap"); */

* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}
.head {
  width: 100vw;
  background-color: white;
  position: fixed;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 10em;
}
.nav > ul > li {
  display: inline-flex;
  padding: 0.5em;
}

nav > ul > li > a {
  text-decoration: none;
  justify-content: space-between;
  text-transform: capitalize;
  color: rgb(160, 149, 149);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav > ul > li > a:hover,
.active {
  color: #00b39b;
}

/* -------------------------------------------------sub-menu------------------------------- */
.sub-menu {
  display: none;
  background-color: white;
  box-shadow: 0px 0px 5px white;
}

li:hover .sub-menu {
  display: block;
  position: absolute;
  padding: 0.5em;
  margin-top: 2em;
}

li:hover .sub-menu ul li {
  display: inline-flex;
  list-style-type: none;
  padding: 0.5em;
  text-transform: capitalize;
}

li:hover .sub-menu ul li a {
  text-decoration: none;
  color: #333;
}

li:hover .sub-menu ul li a :hover {
  color: #00b39b;
}
/* -------------------------------------------------sub-menu------------------------------- */

.new {
  display: flex;
  flex-direction: column;
  background-image: url(https://www.docplanner.com/images/bg-top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.new div {
  display: flex;
  flex-direction: column;
  width: 30vw;
  /* height: 60vh; */
  background-color: white;
  margin-top: 12em;
  margin-left: 12em;
  /* font-weight: 700; */
  word-spacing: 2px;
}

.new div h3 {
  padding: 0.4em;
  color: #00b39b;
  font-size: 30px;
  font-weight: 400;
}

.new div p {
  margin: 1.4em;
  /* color: #747474; */
  font-weight: 200;
}

.new div a {
  background-color: #4a4aeed3;
  color: white;
  display: inline-block;
  text-decoration: none;
  margin: 1em 1em;
  text-align: center;
  padding: 0.5em 1em;
}

.dream-job {
  color: #00b39b;
  font-size: 20px;
  font-weight: 100;
  padding-left: 20em;
  margin-top: 5em;
}

.city-names {
  display: grid;
  grid-row: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding-left: 10em;
  margin-top: 5em;
}

.country-link {
  margin-left: 0.3em;
  padding: 1em;
  text-transform: capitalize;
  font-size: 25px;
}

.link-div a {
  text-decoration: none;
  margin: 0.5em;
  padding: 0.2em;
  color: white;
  background-color: #4a4aeed3;
  font-size: 13px;
}
